* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

body {
    background: #F5F5F5;
}

header {
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #0B9E92C7;
    position: relative;
}

header nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 4rem;
}

header .logo {
    margin-top: -2rem;
    margin-bottom: 1rem;
}

header .logo img {
    width: 45px;
}

header .menu a {
    color: #086961C7;
    text-decoration: none;
    margin: 0 .5rem;
    font-weight: 900;
    font-size: .9em;
    text-transform: capitalize;
}

header h2 {
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
    color: #F0FFFF;
}

header h2 span {
    font-weight: 700;
    color: #086961C7;
}

header ul {
    display: flex;
}

header ul li {
    margin: 1rem 2rem;
    color: #f5f5dc;
    font-weight: 900;
    text-transform: capitalize;
}

.one {
    position: absolute;
    width: 70%;
    height: 80%;
    top: 20rem;
    background: #FFF;
    z-index: 1;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 6rem;
}

.one img {
    width: 120px;
}

.one h3 {
    font-weight: 200;
    font-size: 2em;
    color: #808080;
    margin-top: .5rem;
}

.one h3 span {
    font-weight: 900;
    color: #086961C7;
}

.one p {
   font-size: .88em;
   margin-top: 1rem;
   color: #808080;
   font-style: italic;
}

.one p span {
    font-weight: 900;
}

.one .btn {
    display: block;
    width: 300px;
    background: #0B9E92C7;
    text-align: center;
    margin-top: 2rem;
    padding: .8rem 0;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f5f5dc;
    font-weight: 700;
}

@media screen and (max-width:900px) {
    .one {
        padding: 0 3rem;
        width: 85%;
        height: 75%;
    }

    .one img {
        width: 100px;
    }

    .one h3 {
        font-size: 1.5rem;
    }

    .one p {
        font-size: .8em;
    }

    .one .btn {
        width: 250px;
    }
}

@media screen and (max-width:425px) {
    .one img {
        width: 50px;
    }

    .one .btn {
        width: 100px;
        font-weight: 200;
    }
}

.two {
    width: 600px;
    height: 50vh;
    background: #FFF;
    padding: 3rem 15px;
    margin: 5rem auto;
}
